@use '../base/_typography' as *;
@use '../base/_sizes' as *;
@use '../base/_colors' as *;
@use '../base/_border' as *;

.block-feature {
  display: flex;
  flex-direction: column;
  margin: 0 spacing('sm');


  @include screen-lg {
    @include max-column(12);
    margin: 0 auto;
  }

  &__title {
    @include heading(3);

    @include screen-lg {
      text-align: center;
      @include heading(2);
    }
  }

  &__list {
    gap: spacing('md');

    @include screen-lg {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $color-primary;
    border-radius: $border-radius;
    padding: spacing('sm');

    @include screen-lg {
      padding: spacing('md');
    }

    .item {
      &__title {
        font-weight: bold;
        text-align: center;
        margin-bottom: spacing('sm');

        @include screen-lg {
          margin-bottom: spacing('md');
        }
      }
    }
  }
}
