@use '../base/_typography' as *;
@use '../base/_sizes' as *;
@use '../base/_colors' as *;
@use '../base/_animations' as *;

.hero {
  position: relative;
  height: 100vh;
  min-height: 35.5rem;
  width: 100vw;
  overflow: hidden;
  max-width: 100%;
  background-size: cover;
  z-index: -1;
  background: $color-black no-repeat cover;

  &--left {
    .hero__container {
      align-items: flex-end;
    }

    .hero__figure {
      left: -10%;
      right: initial;
    }
  }

  &__container {
    margin: spacing('xxl') spacing('sm') 0;
    color: $color-white;

    > * {
      max-width: 40rem;
    }

    @include screen-lg {
      position: relative;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      top: spacing('xxxl');
      width: $max-site-width;
    }

    &.on-appear--hidden {
      opacity: 0;
    }

    &.on-appear--visible {
      animation: fadeIn--bottom 1s ease-in-out;
    }
  }

  &__title {
    color: #f4f4f4;
    @include heading(3, $color-white);
    @include screen-lg {
      @include heading(1, $color-white);
    }
  }

  &__text {
    @include max-column(6);
    margin-top: spacing('sm');

    @include screen-lg {
      color: $color-white;
    }
  }

  &__figure {
    position: absolute;
    bottom: 0;
    max-width: 100%;
    height: auto;
    z-index: -1;

    @include screen-lg {
      right: 0;
    }
  }

  &__stroke {
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 120%;
    z-index: -1;
    fill: $color-primary;
  }

  &__image {
    width: 100%;
    height: auto;
    display: flex;
  }
}
