@use '../base/_typography' as *;
@use '../base/_sizes' as *;
@use '../base/_colors' as *;

.hero {
  position: relative;
  height: 100vh;
  min-height: 35.5rem;
  width: 100vw;
  overflow: hidden;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  background: $color-black;

  &--left {
    .hero__container {
      align-items: flex-end;
    }

    .hero__figure {
      left: -10%;
      right: initial;
    }
  }

  &__container {
    margin: 0 spacing('sm');
    top: spacing('xxl');

    > * {
      max-width: 40rem;
    }

    @include screen-lg {
      position: relative;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      top: spacing('xxxl');
      width: $max-site-width;
    }
  }

  &__title {
    color: #f4f4f4;
    @include heading(3, $color-white);
    @include screen-lg {
      @include heading(1, $color-white);
    }
  }

  &__text {
    @include max-column(6);
    margin-top: spacing('sm');

    @include screen-lg {
      color: $color-white;
    }
  }

  &__figure {
    position: absolute;
    bottom: 0;
    max-width: 100%;
    height: auto;
    z-index: -1;

    @include screen-lg {
      right: 0;
    }
  }

    &:before {
      animation: ease-in-out 1s scale;
      content: '';
      background-image: url("~@images/visual-strokes.svg");
      background-repeat: no-repeat;
      background-size: 120% 120%;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
    }
  }

  &__image {
    width: 100%;
    height: auto;
  }
}

@keyframes scale {
  0% {
    background-size: 0 120%;
  }
  100% {
    background-size: 120% 120%;
  }
}
