@use '../base/_sizes' as *;
@use '../base/_typography' as *;

.image-paragraph {
  max-width: 100vw;
  //width: $max-site-width;
  margin: 0 spacing('sm');
  //display: flex;
  //flex-direction: row-reverse;
  //gap: $column-gutter;
  //align-items: center;
  //justify-content: start;
    justify-content: flex-start;

  &__container {
    @include max-column(6);
  }

  &__title {
    @include heading(3);

    @include screen-lg {
      @include heading(1);
    }
  }

  &__image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

}
