@use '../base/typography' as *;
@use '../base/sizes' as *;
@use '../base/colors' as *;
@use '../base/border' as *;
@use '../base/icons' as *;

.block-latest {
  @include max-column(12);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include max-column(12);

  @include screen-lg {
    margin: spacing('xxl') auto;
  }

  &__title {
    @include heading(3);
    margin: 0 spacing('md') spacing('lg');
    @include heading(3);

    @include screen-lg {
      @include heading(2);
      align-self: center;
      @include heading(2);
    }

    &.on-appear--visible {
      animation: fadeIn--bottom 1s ease-in-out;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    margin: 0 spacing('md');
    gap: spacing('md');

    @include screen-lg {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: $column-gutter;
      margin-bottom: spacing('lg');
    }
  }

  &__link {
    align-self: center;
  }
}
