@use '../base/typography' as *;
@use '../base/sizes' as *;
@use '../base/colors' as *;
@use '../base/border' as *;
@use '../base/icons' as *;

.block-latest {
  @include max-column(12);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__title {
    @include heading(3);
    margin: 0 spacing('md') spacing('lg');

    @include screen-lg {
      @include heading(2);
      align-self: center;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    margin: 0 spacing('md');
    gap: spacing('md');

    @include screen-lg {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: $column-gutter;
      margin-bottom: spacing('lg');
    }
  }

  &__link {
    align-self: center;
  }
}
