@use '../base/_sizes' as *;
@use '../base/_typography' as *;
@use '../base/_border' as *;
@use '../base/_colors' as *;
@use '../base/_animations' as *;

.block-mission {
  padding: spacing('lg') 0  spacing('lg');

  &__title {
    margin-bottom: 2rem;
    @include heading(3);

    @include screen-lg {
      text-align: center;
      @include heading(2);
    }

    &.on-appear--visible {
      animation: fadeIn--bottom 1s ease-in-out;
    }
  }

  &__description {
    margin: auto;
    @include max-column(6);
    &.on-appear--visible {
      animation: fadeIn--bottom 1s ease-in-out;
    }
  }

  &__item {
    &.on-appear--visible {
      animation: fadeIn--left 1s ease-in-out;
    }

    .item {
      &__step {
        overflow: visible;
        @include heading(1, $color-grey);
      }

      &__content {
        margin: auto;
        @include max-column(12);
      }

      &__title {
        margin-bottom: 2rem;
        @include heading(4);
        @include max-column(5);
        @include screen-lg {
          @include heading(3);
        }
      }

      &__description {
        @include max-column(5);
      }
    }
  }

  // dark mode
  &--dark {
    background: $color-black;
    color: $color-white;

    .block-mission {
      &__title {
        margin: 0 spacing('md');
        @include heading(3, $color-white);
        @include screen-lg {
          margin: 0;
          @include heading(2, $color-white);
        }
      }
      &__description {
        margin: 0 spacing('md');
        @include max-column(6);
        @include screen-lg {
          margin: spacing('sm') auto;
        }
      }

      &__item {
        .item {
          &__step {
            @include heading(1, $color-grey);
          }

          &__title {
            margin: 0 spacing('md');
            @include heading(4, $color-white);
            @include screen-lg {
              margin: 0;
              @include heading(3, $color-white);
            }
          }

          &__description {
            margin: 0 spacing('md');
            @include max-column(5);
            @include screen-lg {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
