@use '../base/_sizes' as *;
@use '../base/_typography' as *;
@use '../base/_border' as *;
@use '../base/_animations' as *;

.paragraphs {
  max-width: $max-site-width;
  margin: auto;
  position: relative;
  padding: 11.875rem 0;
  display: flex;
  flex-direction: column;

  &--decoration {
    &:before {
      content: '';
      background-image: url("~@images/visual-s.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto 100%;
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: -1;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
    }
  }

  &__block {
    display: flex;
    align-items: center;
    margin: 1rem 1rem 0.75rem;
    gap: 2rem;
    flex-direction: column;

    @include screen-lg {
      flex-direction: row;
      margin: 0 0 0.75rem;
    }

    &.on-appear--visible {
      animation: 1s ease-in-out fadeIn--left;
    }

    &:nth-child(2n) {
      @include screen-lg {
        margin-left: auto;
      }

      &.on-appear--visible {
        animation: 1s ease-in-out fadeIn--right;
      }

      .paragraphs {
        &__paragraph, &__title {
          @include screen-lg {
            text-align: right;
          }
        }

        &__image {
          @include screen-lg {
            order: 99;
          }
        }
      }
    }
  }

  &__text {
    @include max-column(5);
  }

  &__title {
    margin-bottom: 2rem;
    @include heading(3);

    @include screen-lg {
      @include heading(2);
    }

    &.on-appear--visible {
      animation: 2s ease-in-out fadeIn--bottom;
    }
  }

  &__image {
    margin-right: 1rem;
    border-radius: $border-radius;
    width: 100%;
    height: auto;
    object-fit: cover;

    @include screen-lg {
      &--short {
        @include square-column(3);
      }

      &--half {
        @include max-column(6);
        @include height-column(3);
      }

      &--full {
        @include max-column(12);
        @include height-column(6);
      }
    }
  }
}
