@use '../base/_typography' as *;
@use '../base/_sizes' as *;

.teams {
  margin: 9.375rem spacing('md') spacing('xl');
  max-width: $max-site-width;
  position: relative;

  @include screen-lg {
    margin: 9.375rem auto spacing('lg');
    display: grid;
    grid-template-columns: $column-width 1fr;

  }

  &__title {
    @include screen-lg {
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      position: sticky;
      align-self: start;
      top: 0;
      margin: 0;
      @include heading(2);
    }
  }

  &__team, .team {
    grid-column: 2/-1;
    margin-bottom: 5rem;

    &__title {
      margin-bottom: 1rem;
      @include heading(3);
    }

    &__members {
      display: grid;
      grid-template-columns: 1fr;
      padding: 0;
      @include screen-lg {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }

    &__member, .member {
      display: flex;
      align-items: flex-end;
      gap: 0.125rem;
      margin-bottom: 2rem;

      &__name {
        margin-bottom: 1.25rem;
        @include heading(4);
      }
    }
  }

  &__container {
    grid-column: 2/-1;
  }
}
