@use '../base/_border' as *;
@use '../base/_colors' as *;
@use '../base/_icons' as *;
@use '../base/_sizes' as *;

.search {
  &__form {
    height: 100%;
  }

  &__field {
    height: 100%;
    display: flex;
  }

  &__input {
    margin-left: auto;
    border: none;
    width: 0;
    transition: width 0.3s;
    font-family: inherit;
    background: none;
    color: $color-white;

    @include screen-lg {
      color: $color-black;
    }

    &::placeholder {
      color: $color-white;
      @include screen-lg {
        color: $color-black;
      }
    }

    &--expanded {
      width: 100%;
      border-bottom: $border-width solid $color-white;
      @include screen-lg {
        border-color: $color-black;
      }
    }
  }

  &__button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;

    &:before {
      @include icon('search');
      font-size: 1.5rem;
      color: $color-white;

      @include screen-lg {
        color: $color-black;
      }
    }
  }

  &__dropdown {
    &--loading:before {
      @include icon('spinner');
    }
  }
}
