@use '../../base/typography' as *;
@use '../../base/sizes' as *;
@use '../../base/colors' as *;
@use '../../base/border' as *;
@use '../../base/icons' as *;

.news {
  margin: spacing('xl') spacing('sm');

  @include screen-lg {
    margin: spacing('xxxl') auto;
    @include max-column(12);
  }

  &__title {
    @include heading(3);

    @include screen-lg {
      margin-bottom: spacing('lg');
      @include heading(2);
    }

    &.on-appear--visible {
      animation: fadeIn--bottom 1s ease-in-out;
    }
  }

  &__container {
    @include screen-lg {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: $column-gutter;
    }
  }
}
