@use '../../base/typography' as *;
@use '../../base/sizes' as *;
@use '../../base/colors' as *;
@use '../../base/border' as *;
@use '../../base/icons' as *;

.shops {
  position: relative;
  @include screen-lg {

  }

  &__header {
    color: $color-white;
    padding: spacing('xl') spacing('sm') spacing('sm');
    height: 300%;
    background-repeat: no-repeat;
    background-size: cover;

    @include screen-lg {
      padding: spacing('xxxl') 0 spacing('lg');
      clip-path: polygon(0 0, 100% 0, 100% 75%, 75% 100%, 0 75%);
    }
  }

  &__title {
    margin: 0 auto spacing('sm');
    display: block;
    @include max-column(12);
    @include heading(3, $color-white);

    @include screen-lg {
      @include heading(2, $color-white);
    }
  }

  &__description {
    margin: 0 auto;
    padding-bottom: spacing('sm');
    @include max-column(12);

    @include screen-lg {
      padding-bottom: spacing('lg');
    }
  }

  &__container {
    @include max-column(12);
    margin: spacing('sm') spacing('sm') spacing('lg');
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $column-gutter;
    @include max-column(12);

    @include screen-lg {
      margin: spacing('md') auto spacing('lg');
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__card {
    width: 100%;
    @include max-column(4);
    display: flex;
    position: relative;
    background: $color-primary;
    height: 100%;
    margin: auto 0;
    flex-direction: column;
    align-items: center;
    border-radius: $border-radius;
    transition: transform 0.3s ease-in-out;
    @include max-column(4);

    &.on-appear--visible {
      animation: fadeIn--bottom 1s ease-in-out;
    }

    &:hover {
      transform: translateY(-0.5rem);
    }

    .card {
      &__title {
        font-weight: bold;
        margin-top: spacing('md');
        margin-bottom: spacing('xxs');
      }

      &__address {
        margin-top: spacing('md');
        margin-bottom: spacing('lg');
      }

      &__image {
        width: 100%;
        height: spacing('xxxxl');
        object-fit: cover;
        border-radius: $border-radius $border-radius 0 0;
      }

      &__link {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        text-indent: -9999px;
      }
    }
  }
}
