@use '../components/_buttons' as *;
@use '../base/_typography' as *;
@use '../base/_colors' as *;
@use '../base/_border' as *;
@use '../base/_sizes' as *;
@use '../utils/_sr' as *;

.forminator-ui {
  @include max-column(12);
  margin: auto;
}

.forminator-field {
  display: flex;
  flex-direction: column;
}

.forminator-field--hidden .forminator-label {
  @include sr-only;
}

.forminator-label {
  margin-bottom: spacing('xxs');
}

.forminator-input {
  border: $border-width solid $color-black;
  border-radius: $border-radius;
  @include text(small);
  padding: spacing('xxs') spacing('xs');
  @include max-column(4);
}

.forminator-error,
.forminator-error-message {
  color: $color-alert;
}

.forminator-required {
  color: $color-alert;
}

.forminator-button {
  @include text(normal);
  @include button(primary);
  font-weight: bold;
  margin-top: spacing('sm');
  width: fit-content;
}
