$color-primary: #FFF137;
$color-black: #2F2F2F;
$color-white: #FFF;
$color-grey: #828282;
$color-grey--dark: #4F4F4F;
$color-grey--darkest: #333333;
$color-grey--light: #BDBDBD;
$color-grey--lightest: #E0E0E0;
