$max-site-width: 82rem;
$margin-site: 2.8%;

$spacing: (
  'xxxs': 0.25rem, // 4px
  'xxs': 0.5rem, // 8px
  'xs': 0.75rem, // 12px
  'sm': 1rem, // 16px
  'md': 2rem, // 32px
  'lg': 4rem, // 64px
  'xl': 8rem, // 128px
  'xxl': 10rem, // 160px
  'xxxl': 14rem, // 224px
  'xxxxl': 20rem, // 320px
);

$column-width: 5rem;
$column-gutter: 2rem;


@mixin max-column($number) {
  max-width: (($column-width+$column-gutter)*$number)-$column-gutter;
}

@mixin width-column($number) {
  width: (($column-width+$column-gutter)*$number)-$column-gutter;
}

@mixin square-column($number) {
  width: (($column-width+$column-gutter)*$number)-$column-gutter;
  height: (($column-width+$column-gutter)*$number)-$column-gutter;
}

@function spacing($size) {
  @return map-get($spacing, $size);
}

@mixin screen-lg {
  @media (min-width: 1080px) {
    @content
  }
}

@mixin screen-md {
  @media (max-width: 1079px) {
    @content
  }
}

@mixin screen-sm {
  @media (max-width: 430px) {
    @content
  }
}
